.list-first {
    
        border-top-style: solid;
        border-top-color: brown;
        border-top-width: 5px;

      
}

.list-last {
    border-top-style: solid;
        border-top-color: brown;
        border-top-width: 5px;
}
